.marqueeContainer {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display:flex;

  box-sizing: border-box;
  margin-block: 20px;
padding-top: 10px;
  background-color: #D3D3D3;
}
.marqueName{
  background-color: #DB2016;
  z-index: 9;
  color: white;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 32px;
font-weight: 500;
  margin-top: -10px;
  
}
.marqueeText {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 40s linear infinite;
  box-sizing: border-box;
  display: flex;
  font-size: 16px;
  font-weight: 500  ;
  justify-content: center;
  align-items: center;
}
p{
  font-size: 20px;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (max-width: 768px) {
 
  .marqueeContainer {
    padding-top: 0px ;
    padding-inline: 20px;
  }
 

}