.row {
}

.image {
  max-width: 100px;
}

.downloadLink {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.downloadLink:hover {
  background-color: #0056b3;
}
