.container{
    display: flex;
    flex-direction: row;
}
.heading{
    font-size: 5em;
}

.title{
    padding: 2vw 5vw 0vw 5vw ;
}
p{
    /* font-size: 20px; */
    font-family: sans-serif;
    font-weight: 650;
}
.right{
    width: 70vw;
}
.left{
    
    border: 2px solid black;
    font-size: 1.5rem;
    width: 37vw;
    padding: 5vw;
    margin: 5vw;
    border-radius: 10px;
}
img{
    width: 45vw;
    margin-top:-50px ;
}

.left input{
    border: 2px solid black;
    max-width: 60vw;
}
.left textarea{
    border: 2px solid black;
    max-width: 40vw;
}


@media (max-width:526px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 250%;
    }
}