.marqueeContainer {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  box-sizing: border-box;
  margin-block: 20px;
  padding-top: 10px;
  background-color: #D3D3D3;
}

.marqueName {
  background-color: #DB2016;
  z-index: 9;
  color: white;
  font-size: 20px;
  width: 100%;
  display: flex;
 
  align-items: center;
  justify-content: center;
  padding-inline: 32px;
  font-weight: 500;
  margin-top: -10px;
}
.resMarqueName{
  display: none;
}


.marqueeText {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 40s linear infinite;
  box-sizing: border-box;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 20px;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .marqueName {
    font-size: 18px;
    padding-inline: 0px;
    display: none;
  }

  .marqueeText {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .marqueeContainer {
    padding-top: 0px;
    padding-inline: 20px;
  }

  .marqueName {
    font-size: 16px;
    padding-inline: 16px;
    margin-top: 0;
    display: none;
  }

  .marqueeText {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .marqueName {
    background-color: #DB2016;
    z-index: 9;
    color: white;
    font-size: 16px;
    width: 100%;
    display: flex;
     display: none;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-weight: 500;
    margin-top: -10px;
    margin-left: -24px;
}
  .resMarqueName {
    background-color: #DB2016;
    z-index: 9;
    color: white;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding: 5px 15px;
    font-weight: 500;
    margin-top: -5px;
    margin-left: -24px;
}

.marqueeContainer{
  height: 40px;
}
  .marqueeText {
    
    font-size: 20px;
    height: 40px;
  }

  p {
    font-size: 18px;
  }
}
