* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav .mainContainer {
  display: flex;
  gap: 5vw;
  padding-left: 30px;
  padding-bottom: 10px;
  background-color: white;
  height: 80px;
}

.logo {
  width: 80px;
  height: 80px;
  padding-bottom: 0;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li {
  position: relative;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  color: red; /* Changes link color to red on hover */
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px 0;
  border: 1px rgba(0, 0, 0, 0.411) solid;
  border-radius: 12px;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.buttons {
  position: relative;
}

.button1,
.button2 {
  display: flex;
  position: absolute;
  top: -20px;
  margin-left: 20px;
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 20px;
}

.button1 {
  left: -23vw;
  color: rgb(12, 1, 1);
  background-color: white;
  border: 1px solid rgba(26, 4, 4, 0.479);
}

.button2 {
  left: -13vw;
  color: rgb(245, 241, 241);
  background-color: rgb(15, 15, 15);
  border: none;
}

.resButtons {
  display: none;
  position: relative;
}

@media (max-width: 1200px) {
  .button1 {
    left: -507vw;
  }

  .button2 {
    left: -707vw;
  }

  .socialIcon {
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  nav ul {
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(255, 119, 119) 0%, rgb(46, 151, 142));
    z-index: 9;
  }

  .button1 {
    left: -57vw;
  }

  .button2 {
    left: -77vw;
  }
}

@media (max-width: 768px) {
  nav ul {
    top: 80px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .hamburgerNav {
    top: 50px;
    position: absolute;
    color: red;
  }

  .button1 {
    left: -55vw;
  }

  .button2 {
    left: -33vw;
  }
}

@media (max-width: 480px) {
  nav ul {
    top: 70px;
  }
  nav {
    height: 60px;
  }
  .logo {
    padding-left: -10px;
  }

  nav ul li {
    font-size: 4vw;
    padding-left: 5vw;
  }

  .buttons {
    display: none;
  }

  .resButtons {
    display: flex;
  }

  .hamburgerNav {
    top: 50px;
    position: absolute;
    color: red;
  }

  .resButton1,
  .resButton2 {
    display: flex;
    position: absolute;
    top: -25px;
    padding: 4px 8px;
    font-weight: 500;
    border-radius: 20px;
  }

  .resButton1 {
    left: -70vw;
    border: 1px solid rgba(26, 4, 4, 0.479);
  }

  .resButton2 {
    left: -47vw;
    color: rgb(245, 241, 241);
    background-color: rgb(15, 15, 15);
    border: none;
  }
}
