.contact{
    display: flex;
    font-size: 10px;
    gap: 4vw;
    margin: 0;
    padding: 0;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
    color: rgb(141, 46, 46);
    padding-top: 0;
    min-width: 250px;
   
}
.smallContainer{
    display: flex;
    flex-direction: row;
}

 .mail{
    display: flex;  
    flex-direction: row;
    padding-left: 5vw;
    min-width: 200px;
}
 .call{
display: flex;
    flex-direction: row;
    min-width: 200px;

}

.socialIcons a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;


}
.detail{
    font-size: 15px;
    font-weight: 600;
    color: rgb(141, 46, 46);
}
.mainIcon{
    font-size: 3rem;
    margin-top: -20px;
    padding-right: 10px;
    color: red;
}

span{
    font-size: 20px;
    font-weight: 700;
}
.socialIcons{
    display: flex;
    gap: 10px;
    font-size: 30px;
 
}
.icon{
color: rgb(119, 15, 15);
display: flex;
align-items: center;
justify-content: center;
border-radius: 10%;
width: 30px;
padding: 5px;
font-size: 30px;
border-radius: 50%;
height: 30px;
}
.icon:hover{
    color: blue;
    padding: 5px;
    background-color: rgb(216, 208, 208);
}
.icon:hover{
    color: blue;
    padding: 5px;
}
.icon:hover:active{
    color:blue;
}
@media screen and (max-width: 1008px) {
    .contact{
        flex-direction: column;
        gap: 0;
        font-size: 10px;
        overflow: hidden;
        padding-top: 0;
    }
    .smallContainer{
        display: flex;
        flex-direction: row;
        
    }
    .welcome{
        font-size: 15px;
        font-weight: 700;
        margin-left: 20px;
        color: rgb(141, 46, 46);
        padding-top: 0;
        min-width: 250px;
        padding-top: 0;
    }
    span{
        font-size: 10px;
    }
    .mail{
        display: flex;
        flex-direction: row;
        padding-left: 5vw;
        min-width: 100px;
    
        padding-top: 0;
    }
    .mainIcon{
        font-size: 2rem;    
        padding-top: 7px;
    }
    .call{
        display: flex;
        flex-direction: row;
        min-width: 200px;
        padding-left: 10vw;
    }
    .socialIcons {
        display: none;
    }
    .detail{
        font-size: 10px;
        font-weight: 600;
        color: rgb(141, 46, 46);
    }
    
        }
        @media  (max-width: 768px) {
.socialIcons{
    display: flex;
}
        }
