/* src/components/OurStory.module.css */

.container1 {
  background-image: linear-gradient(to top, rgba(58, 8, 8, 0.678),
   rgba(0, 0, 255, 0.473)), 
  url('../../../assets/Images/about.png');
  padding: 20px;
  padding-inline: 15vw;
  background-color: #fff;
  color: #333;
  max-width: 85%;
  height: 80vh;
  margin-top: 20px;
  margin: 0 auto;
  border-radius: 8px;
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

.head1 {
  padding-bottom: 50px;
  padding: 20px;
  font-size: 5vw;
  font-weight: 900;
  color: #000000;
  text-align: center;
  -webkit-text-stroke: 2px rgb(207, 187, 160);
}

.head2 {
  padding: 20px;
  font-weight: 600;
  color: #fff9f9;
  font-size: 3vw;
  -webkit-text-stroke: 1px rgb(228, 196, 15);
  text-align: center;
}

.paragraph {
  margin-top: 10vh;
  line-height: 1.6;
  text-align: center;
  font-size: 1.5em;
  color: #ddcdcd;
  margin-bottom: 20px;
}

.container2 {
  background-image: linear-gradient(to bottom, rgba(80, 12, 12, 0.678), rgba(39, 43, 85, 0.74)),
  url('../../../assets/Images/vison.png');
  background-size: cover;
  padding: 20px;
  background-color: #fff;
  color: #333;
  max-width: 85%;
  height: 80vh;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  flex-direction: row;
}

.container2 .left {
  width: 50%;
  margin-block: 50px;
  margin-inline: 30px;
  padding-right: 20px;
  font-size: 1em;
  font-weight: 500;
  color: #fff9f9;
  text-align: center;
}

.container2 .right {
  width: 50%;
  margin-block: 50px;
  padding-inline: 30px;
  font-size: 1.2em;
  font-weight: 500;
  color: #fff9f9;
  text-align: center;
  border-left: 1px solid #fff9f9;
  margin-bottom: 8vw;
}

/* Media Queries for Responsiveness */

/* Tablets */
@media (max-width: 768px) {
  .container1, .container2 {
    max-width: 95%;
    height: auto;
    padding: 10px;
    padding-inline: 10vw;
  }

  .head1 {
    font-size: 7vw;
  }

  .head2 {
    font-size: 5vw;
  }

  .paragraph {
    font-size: 1.2em;
  }

  .container2 {
    flex-direction: column;
    align-items: center;
  }

  .container2 .left, .container2 .right {
    width: 100%;
    margin-inline: 0;
    margin-block: 20px;
    border-left: none;
    border-top: 1px solid #fff9f9;
    padding-inline: 0;
  }

  .container2 .right {
    border-top: 1px solid #fff9f9;
  }
}

/* Mobile Phones */
@media (max-width: 380px) {
  .container1, .container2 {
    max-width: 100%;
    margin-inline: 20px;
    padding-inline: 5vw;
  }

  .head1 {
    font-size: 9vw;
  }

  .head2 {
    font-size: 7vw;
  }

  .paragraph {
    font-size: 1em;
  }

  .container2 .left, .container2 .right {
    margin-block: 10px;
    font-size: 1em;
  }
}
